.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 20px;
    width: 100%;
    /* background-color: aqua; */
}
.item {

}
.itemIcons {
    display: flex;
    flex-direction: row-reverse;
}
.borderName {
    font-size: 18px;
}