.navbar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgb(60, 0, 255);
    padding: 10px;
}
.profile {

}   
.ava {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(234, 226, 226);
    border-radius: 50px;
}
.text {
    text-align: center;
    color: rgb(234, 226, 226);
}
.nav_items {
    padding-top: 350px;
    position: sticky;
    top: 20px;}
@media screen and (max-width: 1080px) {
    .nav_items {
        padding-top: 250px;
    } 
}
@media screen and (max-width: 780px) {
    .nav_items {
        padding-top: 200px;
    } 
}
@media screen and (max-width: 600px) {
    .nav_items {
        padding-top: 150px;
    } 
}
@media screen and (max-width: 480px) {
    .nav_items {
        padding-top: 100px;
    } 
}
@media screen and (max-width: 360px) {
    .nav_items {
        padding-top: 50px;
    } 
}
.nav_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
.icon {
    width: 25px;
    height: 25px;
}
.icon:hover {
    border: 2px solid rgb(55, 141, 167);
    background-color: rgb(70, 75, 255);
    border-radius: 5px;
}